In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [13]:
tumor_label=pd.read_csv('AMLS-2021_dataset/dataset/label.csv')

In [14]:
tumor_label.head()

        file_name             label
0  IMAGE_0000.jpg  meningioma_tumor
1  IMAGE_0001.jpg          no_tumor
2  IMAGE_0002.jpg  meningioma_tumor
3  IMAGE_0003.jpg      glioma_tumor
4  IMAGE_0004.jpg  meningioma_tumor

In [62]:
tumor_label.label[20]

'no_tumor'

In [66]:
tumor_label.describe()

             file_name         label
count             3000          3000
unique            3000             4
top     IMAGE_0000.jpg  glioma_tumor
freq                 1           860

In [53]:
#Place the images in different folders according to labels
  
import os
import shutil
import numpy as np
import pandas as pd

path_img='./AMLS-2021_dataset/dataset/image'
ls = os.listdir(path_img)
lenl=len(ls)
print(len(ls))

3000

In [55]:
train_labels= pd.read_csv('./AMLS-2021_dataset/dataset/label.csv')
train_labels.head()

labels = train_labels.label.values
name = train_labels.file_name.values
print(train_labels.shape,train_labels.shape[0])
  
for i in range(lenl):
    k = str(i)
    m = k.zfill(4)
    if labels[i]=='no_tumor':
        shutil.move(path_img+'/'+'IMAGE_'+str(m) + ".jpg","./AMLS-2021_dataset/dataset/no_tumor/"+ str(name[i]) )
    else:
        shutil.move(path_img+'/'+'IMAGE_'+str(m) + ".jpg","./AMLS-2021_dataset/dataset/tumor/"+ str(name[i]) )

(3000, 2) 3000 ['meningioma_tumor' 'no_tumor' 'meningioma_tumor' ... 'glioma_tumor'
 'glioma_tumor' 'pituitary_tumor']

In [64]:
path_img='./AMLS-2021_dataset/dataset/tumor'
ls2 = os.listdir(path_img)
len2=len(ls2)
print(len(ls2))

2546

In [65]:
path_img='./AMLS-2021_dataset/dataset/no_tumor'
ls3 = os.listdir(path_img)
len3=len(ls3)
print(len(ls3))

454